<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>ERROR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type = "text/css" rel = "stylesheet" href = "css/bootstrap.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/bootstrap.min.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/font-awesome.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/font-awesome.min.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/loginStyle.css" />
    </h:head>
    <h:body>
        <div class="container">
            <p:panel>
                <p:outputLabel value="No ha iniciado sesión. &emsp;"/>
                <p:link value="Regresar a página principal" outcome="index.xhtml"/>
            </p:panel>
        </div>
    </h:body>
</html>