<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type = "text/css" rel = "stylesheet" href = "css/bootstrap.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/bootstrap.min.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/font-awesome.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/font-awesome.min.css" />
        <link type = "text/css" rel = "stylesheet" href = "css/loginStyle.css" />
    </h:head>
    <h:body>
        <div class="container">
            <header>
                <p:outputLabel value="¡Bienvenido!"/>	
            </header>
            <section>
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <h:form id="loginForm"> 
                                <h1>Iniciar Sesión</h1> 
                                <p:messages id="msgLog" severity="fatal, warn" showDetail="true" autoUpdate="false" closable="true"/>
                                <p:growl id="loginError" severity="error" showSummary="false" showDetail="true" autoUpdate="false" life="5000"/>
                                <p> 
                                    <label for="username" class="uname" > Nombre de usuario: </label>
                                    <h:inputText id="username" value="#{staffWebService.username}" autocomplete="off" required="true" label="ID de Usuario"/>
                                </p>
                                <p id="usrError" style="width: 100%; height: 1px;">
                                    <p:commandLink value="¿Ha olvidado su usuario?" oncomplete="PF('userRecover').show();" class="btn btn-link btn-sm" rendered="#{systemBean.error == 1}" update=":frmUserRecover:" style="margin: -15px; padding: 0px; float: right;"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd"> Contraseña: </label>
                                    <h:inputSecret id="password" value="#{staffWebService.pswUsr}" required="true" label="Contraseña"/>
                                </p>
                                <p id="pssdError" style="width: 100%; height: 5px;">
                                    <p:commandLink value="¿Ha olvidado su contraseña?" class="btn btn-link btn-sm" style="margin: -15px; padding: 0px; float: right;"/>
                                </p>
                                <p class="login button">
                                    <p:commandButton value="Ingresar" action="#{staffWebService.log_in()}" class="btn btn-danger btn-lg"/>
                                </p>
                                <p class="change_link">
                                    ¿Aún no eres miembro?
                                    <a href="#toregister" class="to_register">Únete a nosotros</a>
                                </p>
                            </h:form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </h:body>
</html>

